body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: #ffffff; /* Set the background color to white */
}

.description {
    max-width: 800px;
    margin: 20px auto;
    text-align: left;
    padding: 20px;
    background-color: #f4f4f4;  /* Adjusted for contrast */
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.github-link-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#github-icon {
    width: 20px;
    vertical-align: middle;
    margin-right: 10px;
    background-color: transparent;  /* Ensure the icon's background is transparent */
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 20px;
}

.info-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 800px;
    margin: 20px auto;
}

.info-card {
    padding: 10px 20px;
    background-color: #f4f4f4;  /* Adjusted for consistency */
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: calc(50% - 20px);
    text-align: center;
}

.contributors-section,
.dependent-repos-section {
    text-align: center;
    max-width: 380px;  /* Adjust this value as needed */
    margin: 20px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 600px) {
    .info-card {
        width: 100%;
    }
}
